body {
    background-color:#aacbff;
	font-family: 'Roboto', sans-serif;

}
h1 {
    text-align: center;
    display: block;
}
svg {
    display: block;
    margin: 0 auto;
}
path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}
path:hover {
	stroke-width: 1px;
}
div.tooltip { 
	overflow-y:auto;
 	position: absolute;           
	text-align: left;           
	width: 200px; 
	max-height: 300px;
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;              
    white-space: pre;
}